*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-width: 800px;
    margin: 0;
    font-family: Raleway, sans-serif;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}
.page__heading {
    position: relative;
    z-index: 2;
    text-align: center;
}
.page__title {
    display: inline-block;
    font-size: 116px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /*line-height: 100%;*/
    /*letter-spacing: 3.5em;*/
    padding-top: 36px;
}

.page__title::after {
    content: '*';
    font-size: 116px;
    font-weight: bold;
}
.page__title:hover::before {
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    position: absolute;
    top: 182px;
    right: 22px;
    background-color: white;
    border: 2px solid black;
    border-bottom-width: 6px;
    border-radius: 20px;
    padding: 36px 44px;
    font-size: 35px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
}
.content {
    position: absolute;
    inset: 0;
    z-index: 1;
}
video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}